@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

:root {
    --bg-general:#0c0832;
    --bg-secundary:#19153d;
    --titleSmall: #7844e4;
    --colorIconMenu: white;
    --hoverAndText: aqua;
    --whiteGeneral: white;
}

.iconsBTGlinke,
.iconsBTGwha,
.iconsBTGTikTok,
.iconsBTGInsta{
    font-size: 34px;
}

.iconsBTGTikTok{
    color: black;
}
.iconsBTGInsta{
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #FD1D1D, #F56040, #FFC837, #4CAF50, #0057B5);
    background-clip: text;
    color: transparent; 
}

.iconsBTGlinke {
    color: #0057b5;
}

.iconsBTGwha {
    color: var(--whiteGeneral);
}
.redes .whatsapp-link {
    background-color: #4CAF50; 
}
#btn-mas {
    display: none;
}

.containerBtnFixed {
    position: fixed;
    z-index: 9999;
    bottom: 15px;
    right: 15px;
}

.redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes a,
.icon-mas2 {
    display: block;
    text-decoration: none;
    background-color: var(--whiteGeneral);
    color: var(--whiteGeneral);
    width: 60px;
    height: 60px;
    line-height: 62px;
    text-align: center;
    border-radius: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
}

.icon-mas2 {
    line-height: 62px;
    background-color: var(--titleSmall);
    cursor: pointer;
    font-size: 20px;
}

.redes a:hover {
    background-color: var(--titleSmall);
    color: var(--textBlueBold);
}

.redes a {
    margin: -15px;
    opacity: 0;
    visibility: hidden;
}

#btn-mas:checked~.redes a {
    margin-bottom: 20px;
    opacity: 1;
    visibility: visible;
}


#btn-mas:checked~.btn-mas .icon-mas2 {
    transform: rotate(90deg);
    font-size: 30px;
}

@media screen and (min-width: 1024px) {

    .redes a,
    .icon-mas2 {
        width: 65px;
        height: 65px;
        line-height: 65px;
    }

    .icon-mas2 {
        font-size: 20px;
    }

    #btn-mas:checked~.btn-mas .icon-mas2 {
        transform: rotate(90deg);
        font-size: 40px;
    }
}