@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

:root {
    --bg-general: #0c0832;
    --bg-secundary: #19153d;
    --titleSmall: #7844e4;
    --hoverAndText: aqua;
    --whiteGeneral: white;
}

body {
    font-family: "Poppins", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 22%;
    color: var(--whiteGeneral);
}

.titleH1Cont,
.titleH2MoreInf {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.3em;
    padding: 0 30px 40px;
}

.textH1Cont {
    padding: 10px 40px;
    text-align: center;
    line-height: 1.4;
    color: #ababab;
    font-size: 19px;
}

.titleSmallCont {
    padding-bottom: 10px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 5px;
    color: var(--titleSmall);
}

.m-3 {
    background-color: var(--bg-secundary);
    border-radius: 1rem;
    padding: 10px 10px 30px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--textGeneral);
    line-height: 40px;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 20px;
    padding: 50px 7px;
    gap: 15px;
}

.buttonContact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 4.5rem;
    font-size: 18px;
    font-weight: 500;
    gap: 10px;
    color: var(--titleSmall);
    background-color: var(--whiteGeneral);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
}

.buttonContact:hover {
    color: var(--whiteGeneral);
    background-color: var(--titleSmall);
}

.titleH2MoreInf {
    padding: 40px 30px 0;
}

.sectionMoreInfo {
    padding-top: 50px;
}

.contFatherInfo {
    margin: 30px;
}

.containFlex {
    display: flex;
}

.contaIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconContact {
    border-radius: 0.5rem;
    font-size: 40px;
    background-color: var(--bg-secundary);
    color: var(--titleSmall);
}

.iconContact,
.contaText {
    padding: 20px;
}

.titleInfo {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1em;
}

.textInfo {
    color: #ababab;
}

.titleH1Cont {
    padding: 0px 30px 0px;
}

.containCardCont {
    margin: 50px 20px 50px;
    padding: 40px 20px;
    background: url(../img/elementOne.svg) no-repeat bottom right / 90%;
    background-color: var(--bg-secundary);
    border-radius: 1rem;
}

.textEnd {
    font-weight: 700;
    font-size: 31px;
    line-height: 2.4rem;
}

.form-check-input{
    margin-top: 0 !important;
    margin-right: 10px;
}

.hiperTerms{
    text-decoration: none;
}

@media screen and (min-width: 768px) {

    main {
        padding-top: 11%;
    }

    .titleH1Cont {
        padding: 0px 25% 0px;
    }

    .textH1Cont {
        padding: 10px 14%;
    }

    .m-3 {
        margin: 2rem 3rem !important;
    }

    .col-3 {
        width: 17%;
    }
}

@media screen and (min-width: 1024px) {
    main {
        padding-top: 11%;
    }

    .titleH1Cont,
    .titleH2MoreInf {
        font-size: 45px;
    }

    .titleH1Cont {
        padding: 0px 23% 0px;
    }

    .titleH2MoreInf {
        padding: 0px 30px 0;
    }

    .textH1Cont {
        padding: 10px 21%;
    }

    .m-3 {
        margin: 2rem 5rem !important;
    }

    .col-3 {
        width: 13%;
    }

    .contFatherInfo {
        display: flex;
    }

    .textEnd {
        padding: 0 15%;
        text-align: center;
    }

}

@media screen and (min-width: 1440px) {
    .sectionBody {
        margin: 0 auto;
        max-width: 1440px;
    }

    main {
        padding-top: 10%;
    }

    .sectionBody {
        max-width: 1440px;
    }

    .m-3 {
        margin: 2rem 23% !important;
    }
}