@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --bg-general: #0c0832;
  --bg-secundary: #19153d;
  --titleSmall: #7844e4;
  --colorIconMenu: white;
  --hoverAndText: aqua;
  --whiteGeneral: white;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40%;
  color: var(--whiteGeneral);
}

.textH1Index {
  padding-bottom: 10px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 5px;
  color: var(--titleSmall);
}

.titleH1Index {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.3em;
  padding: 0 30px 40px;
}

.containimgOne {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgOne {
  width: 380px;
}

.textImgOne {
  text-align: center;
  color: var(--whiteGeneral);
  font-weight: 700;
  font-size: 18px;
  line-height: 2.4rem;
}

.containServices {
  margin: 50px 20px 10px;
  padding: 40px;
  background-color: var(--bg-secundary);
  border-radius: 1rem;
}

.btn-white,
.btn-purple {
  height: 3.5rem;
  width: 8rem;
  color: var(--titleSmall);
  border-style: none;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  margin: 20px 0 25px;
  cursor: pointer;
}

.btn-white:hover {
  color: white;
  background-color: var(--titleSmall);
  transition: background-color 0.3s ease;
}

.titleSmallServices,
.titleSmallCard {
  padding-bottom: 10px;
  text-align: left;
  font-weight: 600;
  letter-spacing: 5px;
  color: var(--titleSmall);
}

.tittleH2Services,
.tittleH2Card {
  font-weight: 700;
  font-size: 30px;
  line-height: 2.4rem;
}

.textH2services,
.textH2Card {
  padding: 15px 0;
  font-size: 19px;
  color: rgb(205 205 205 / 60%);
  line-height: 1.7em;
  font-weight: 500;
}

.textH2Card li {
  display: flex;
  align-items: center;
}

.iconCheckHome {
  font-size: 30px;
  color: var(--titleSmall);
  padding-right: 15px;
}

.btn-cardSer {
  height: 3.5rem;
  width: 80%;
  color: var(--titleSmall);
  border-style: none;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 25px;
  cursor: pointer;
}

.btn-cardSer:hover {
  color: white;
  background-color: var(--titleSmall);
  transition: background-color 0.3s ease;
}

.learMoreServi {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}

.containCardServices,
.cnt-CardCall {
  margin: 50px 20px 50px;
  padding: 40px;
  background: url(../img/elementOne.svg) no-repeat bottom right / 90%;
  background-color: var(--bg-secundary);
  border-radius: 1rem;
}

.tabs {
  display: flex;
  gap: 5px;
}

.tab {
  display: flex;
  gap: 10px;
  padding: 20px 26px;
  color: #867c7e;
  background-color: var(--bg-secundary);
  border: 1px solid aliceblue;
  border-radius: 0.5rem 0.5rem 0 0;
  cursor: pointer;
}

.tab:hover,
.tab.active {
  color: var(--titleSmall);
  background-color: aliceblue;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-content {
  max-width: 90%;
  padding: 30px;
  display: none;
  color: var(--whiteGeneral);
  background-color: var(--bg-secundary);
  transition: display 0.5s ease;
  border-radius: 0.5rem;
  border: 1px solid aliceblue;
}

.tab-content.active {
  display: block;
}

.containSectionBenefit,
.containCardBenefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containSectionBenefit {
  padding: 40px 0 100px;
}

.containCardBenefit {
  margin: 45px 0;
}

.titleBene {
  text-align: center;
}

.titleH3Benefit {
  padding: 10px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 2.4rem;
}

.textH3Benefit {
  padding: 15px 0;
  font-size: 19px;
  color: rgb(205 205 205 / 60%);
  line-height: 1.7em;
  font-weight: 500;
}

.iconBenefi {
  color: var(--titleSmall);
  font-size: 45px;
  padding: 10px 0;
}

.tabCardBenefi {
  margin: 30px 0;
}

.sectionSliderInfinity {
  padding-bottom: 60px;
}

.titleSlider {
  text-align: center;
  padding-bottom: 56px;
  font-size: 14px;
  letter-spacing: 2px;
  color: var(--titleSmall);
}

.slider {
  width: 90vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.imgSlider {
  height: auto;
  width: 30%;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

.slider .slide-track {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(150px * 12);
}

.slider .slide {
  width: 200px;
}

.slider .slide img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-200px * 4));
    transform: translateX(calc(-200px * 4));
  }
}

.containButtonCall {
  display: flex;
  gap: 10px;
}

.btn-purple {
  color: var(--whiteGeneral);
  background-color: var(--titleSmall);
}

.btn-purple:hover {
  color: var(--titleSmall);
  background-color: var(--whiteGeneral);
}

@media screen and (min-width: 768px) {
  main {
    padding-top: 20%;
  }

  .titleH1Index {
    padding: 0 72px 40px;
    font-size: 40px;
  }

  .titleH3Benefit {
    width: 87%;
  }

  .imgOne {
    width: 100%;
  }

  .containServices {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgTwo {
    width: 100%;
  }

  .cardServicces {
    width: 100%;
  }

  .containCardServices,
  .cnt-CardCall {
    background: url(../img/elementOne.svg) no-repeat bottom right / 50%;
    background-color: var(--bg-secundary);
  }

  .btn-cardSer {
    width: 50%;
  }

  .textH2Card {
    width: 100%;
  }

  .iconBenefi {
    font-size: 50px;
  }

  .tab-content.active {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .tabCardBenefi {
    width: 48%;
    margin: 0;
    padding: 20px;
    border: 1px solid #8c8c8c;
    border-radius: 1.5rem;
    box-shadow: inset 0px 0px 8px 0px #ffffff;
  }

  .tab-content {
    border: none;
  }

  .m-Tablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .titleH1Index {
    padding: 0 16% 0;
    font-size: 45px;
  }

  .imgTwo {
    width: 400px;
  }

  .titleBene {
    font-size: 45px;
    padding: 0 12% 0;
    line-height: 3rem;
  }

  .sectionCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .containCardServices,
  .cnt-CardCall {
    width: 46%;
    background: url(../img/elementOne.svg) no-repeat bottom right / 100%;
    background-color: var(--bg-secundary);
  }

  .cnt-CardCall {
    width: auto;
  }

  .cardServicces {
    height: 485px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .btn-cardSer {
    width: 70%;
  }

  .cnt-cardServi {
    height: 100px;
    width: 55%;
  }
}

@media screen and (min-width: 1440px) {
  .sectionBody {
    margin: 0 auto;
    max-width: 1440px;
  }

  main {
    padding-top: 10%;
  }

  .sectionBody {
    max-width: 1440px;
  }

  .sectionServices {
    margin: 0 5%;
  }

  .imgTwo {
    width: 460px;
  }

  .containServices {
    gap: 50px;

  }

  .containCardServices {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    background: url(../img/elementOne.svg) no-repeat bottom right / 100%;
    background-color: var(--bg-secundary);
  }

  .sectionCards {
    max-width: 1440px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch
  }


  .containAux {
    margin: 50px 5% 10px;
    width: 90%;
    gap: 50px;
  }

  .tabCardBenefi {
    width: 32%;
  }

  .m-Tablet {
    width: 100%;
  }

  .cnt-cardServi {
    width: 80%;
    justify-content: center;
  }

  .slider {
    width: 60vw;
  }

  .slider .slide-track {
    gap: 88px;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(260px * 12);
  }
}