@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --bg-general: #0c0832;
  --bg-secundary: #19153d;
  --titleSmall: #7844e4;
  --colorIconMenu: white;
  --hoverAndText: aqua;
  --whiteGeneral: white;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40%;
  color: var(--whiteGeneral);
}

.textH1Index {
  padding-bottom: 10px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 5px;
  color: var(--titleSmall);
}

.titleH1Index {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.3em;
  padding: 0 30px 40px;
}

.containimgOne {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgOne {
  width: 380px;
}

.textImgOne {
  text-align: center;
  color: var(--whiteGeneral);
  font-weight: 700;
  font-size: 18px;
  line-height: 2.4rem;
}

.containServices {
  margin: 50px 20px 10px;
  padding: 40px;
  background-color: var(--bg-secundary);
  border-radius: 1rem;
}

.btn-white,
.btn-purple {
  height: 3.5rem;
  width: 8rem;
  color: var(--titleSmall);
  border-style: none;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  margin: 20px 0 25px;
  cursor: pointer;
}

.btn-white:hover {
  color: white;
  background-color: var(--titleSmall);
  transition: background-color 0.3s ease;
}

.titleSmallServices,
.titleSmallCard {
  padding-bottom: 10px;
  text-align: left;
  font-weight: 600;
  letter-spacing: 5px;
  color: var(--titleSmall);
}

.tittleH2Services,
.tittleH2Card {
  font-weight: 700;
  font-size: 30px;
  line-height: 2.4rem;
}

.textH2services,
.textH2Card {
  padding: 15px 0;
  font-size: 14px;
  color: rgb(205 205 205 / 60%);
  line-height: 1.7em;
  font-weight: 500;
}

.learMoreServi {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}

.containCardServices {
  margin: 50px 20px 50px;
  padding: 40px;
  background: url(../img/elementOne.svg) no-repeat bottom right / 90%;
  background-color: var(--bg-secundary);
  border-radius: 1rem;
}

.tabs {
  display: flex;
  gap: 5px;
}

.tab {
  display: flex;
  gap: 10px;
  padding: 20px 26px;
  color: #867c7e;
  background-color: var(--bg-secundary);
  border: 1px solid aliceblue;
  border-radius: 0.5rem 0.5rem 0 0;
  cursor: pointer;
}

.tab:hover,
.tab.active {
  color: var(--titleSmall);
  background-color: aliceblue;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-content {
  max-width: 90%;
  padding: 30px;
  display: none;
  color: var(--whiteGeneral);
  background-color: var(--bg-secundary);
  transition: display 0.5s ease;
  border-radius: 0.5rem;
  border: 1px solid aliceblue;
}

.tab-content.active {
  display: block;
}

.containSectionBenefit,
.containCardBenefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containSectionBenefit {
  padding: 40px 0 100px;
}

.containCardBenefit {
  margin: 45px 0;
}

.titleBene {
  text-align: center;
}

.titleH3Benefit {
  padding: 10px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 2.4rem;
}

.textH3Benefit {
  padding: 15px 0;
  font-size: 14px;
  color: rgb(205 205 205 / 60%);
  line-height: 1.7em;
  font-weight: 500;
}

.iconBenefi {
  color: var(--titleSmall);
  font-size: 45px;
  padding: 10px 0;
}

.tabCardBenefi {
  margin: 30px 0;
}

.sectionSliderInfinity {
  padding-bottom: 60px;
}

.titleSlider {
  text-align: center;
  padding-bottom: 56px;
  font-size: 14px;
  letter-spacing: 2px;
  color: var(--titleSmall);
}

.slider {
  width: 90vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.imgSlider {
  height: auto;
  width: 20%;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

.slider .slide-track {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 8);
}

.slider .slide {
  width: 200px;
}

.slider .slide img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-200px * 4));
    transform: translateX(calc(-200px * 4));
  }
}

.containButtonCall {
  display: flex;
  gap: 10px;
}

.btn-purple {
  color: var(--whiteGeneral);
  background-color: var(--titleSmall);
}

.btn-purple:hover {
  color: var(--titleSmall);
  background-color: var(--whiteGeneral);
}