@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-general: #0c0832;
    --bg-secundary: #19153d;
    --titleSmall: #7844e4;
    --hoverAndText: aqua;
    --whiteGeneral: white;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35%;
    color: var(--whiteGeneral);
}

.tittlePP {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.3em;
    padding: 0 10px 40px;

}

.sectionPP {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    padding: 20px;
    color: var(--whiteGeneral);
    padding: 20px 40px;
}

h3 {
    margin-top: 20px;
    color: #3498DB;
}

p,
ul {
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

.cnt-liPp li {
    margin-bottom: 5px;
    list-style-type: disc;
    margin-left: 40px;
}


@media screen and (min-width: 768px) {

    main {
        padding-top: 20%;
    }

    ol li {
        text-align: justify;
    }

}

@media screen and (min-width: 1024px) {
    main {
        padding-top: 16%;
    }

}

@media screen and (min-width: 1440px) {
    .sectionBody {
        max-width: 1440px;
        margin: 0 auto;
    }

    main {
        padding-top: 8%;
    }
}