@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

:root {
    --bg-general: #0c0832;
    --bg-secundary: #19153d;
    --titleSmall: #7844e4;
    --hoverAndText: aqua;
    --whiteGeneral: white;
}

body {
    font-family: "Poppins", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40%;
    color: var(--whiteGeneral);
}

.sectionSEO,
.sectionFrontEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.titleSmall {
    padding: 10px 108px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 5px;
    color: var(--titleSmall);
}

.titleH1Services {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.3em;
    padding: 0 30px 40px;
}

.textH2Info {
    font-size: 16px;
    line-height: 1.5;
    color: #ababab;
    overflow-y: scroll;
    padding: 5px;
    max-height: 150px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.textH2Info::-webkit-scrollbar {
    width: 5px;
}

.textH2Info::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.textH2Info::-webkit-scrollbar-thumb {
    background: #888;
}

.textH2Info::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.containCardPro {
    max-width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: var(--bg-secundary);
    border-radius: 0.8rem;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.containImg {
    padding: 10px;
    width: 100%;
    height: auto;
}

.imgPro {
    height: auto;
    width: 100%;
    border-radius: 0.8rem 0.8rem 0 0;
    cursor: pointer;
}

.containInfo {
    height: auto;
    width: 100%;
    padding: 20px;
}

.titleH2Info,
.titleH2Ser {
    font-size: 25px;
    padding-bottom: 19px;
    color: var(--whiteGeneral);
    font-weight: 600;
}

.title-m {
    font-size: 40px;
    margin: 50px 0 0;
}

.containH2Plan {
    padding: 100px 0 40px;
}

.sectionPlan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.titlePlan {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.3em;
    padding: 0 18px 0;
}


.containInfoPlan {
    background-color: var(--bg-secundary);
    padding: 30px;
    border-radius: 0.8rem;
}


.textH2Plan {
    line-height: 1.3;
    color: #ababab;
    padding: 10px 0 20px;
}

.iconCheckPlan {
    font-size: 30px;
    color: var(--titleSmall);
}

.containUlPlan {
    padding: 0 0 20px;
}

.containUlPlan li {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pricePlan {
    font-size: 35px;
    font-weight: 700;
    color: var(--whiteGeneral);
}

.textPrince {
    display: flex;
    color: grey;
    align-items: center;
    padding: 0 0 20px;
}

.btn-ChoosePlan {
    height: 3rem;
    width: 100%;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--titleSmall);
    color: var(--whiteGeneral);
    font-weight: 600;
}

.accordion {
    width: 385px;
}

.accordion-item {
    margin: 10px 0;
    border-radius: 1rem;
    background-color: var(--titleSmall);
    border: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -2px -2px 8px rgba(0, 0, 0, 0.1);
}

.accordion-body {
    line-height: 1.5;
    background-color: var(--titleSmall);
    font-size: 15px;
    color: var(--whiteGeneral);
}

.accordion-button {
    background: var(--bg-secundary);
    color: var(--whiteGeneral);
    font-size: 18px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 500;
}

.accordion-button:focus {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion-button:not(.collapsed) {
    background: rgba(0, 0, 0, 0.1);
    color: var(--whiteGeneral);
    box-shadow: none;
}

.accordion-button.collapsed::after {
    color: white !important;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    transition: all 0.5s;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

.containCardCall {
    margin: 50px 20px 50px;
    padding: 40px;
    background: url(../img/elementOne.svg) no-repeat bottom right / 90%;
    background-color: var(--bg-secundary);
    border-radius: 1rem;
}

.t-SmCall {
    padding-bottom: 10px;
    text-align: left;
    font-weight: 600;
    letter-spacing: 5px;
    color: var(--titleSmall);
}

.t-H2Card {
    font-weight: 700;
    font-size: 31px;
    line-height: 2.4rem;
}

.btn-purpleCall {
    height: 3.5rem;
    width: 8rem;
    color: var(--titleSmall);
    border-style: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    margin: 20px 0 25px;
    cursor: pointer;
}

.btn-purpleCall:hover {
    color: var(--whiteGeneral);
    background-color: var(--titleSmall);
}

@media screen and (min-width: 768px) {
    main {
        padding-top: 20%;
    }

    .titleH1Services {
        font-size: 45px;
        padding: 0px 9% 40px;
    }

    .containCardPro {
        max-width: 90%;
        justify-self: center;
    }

    .sectionSEO,
    .sectionFrontEnd {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        gap: 20px;
        justify-content: center;
    }

    .sectionSEO {
        padding-bottom: 40px;
    }

    .imgPro {
        height: 250px;
    }

    .sectionPlan {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        gap: 20px;
        justify-content: center;
    }

    .accordion {
        width: 80%;
    }

    .sectionAccordion {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {

    .titleH1Services {
        padding: 0px 16% 40px;
    }

    .sectionSEO,
    .sectionFrontEnd {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin: 1%;
    }

    .containCardPro {
        max-width: 100%;
    }

    .sectionPlan {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin: 1%;
    }

    .containCardCall {
        margin: 50px 110px 50px;
        display: flex;
    }
}

@media screen and (min-width: 1440px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        padding-top: 10%;
    }

    .titleH1Services {
        padding: 0px 21% 40px;
    }

    .sectionBody {
        max-width: 1440px;
    }

    .sectionSEO,
    .sectionFrontEnd {
        margin: 1% 10%;
    }

    .containCardCall {
        gap: 20px;
    }
}