@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

:root {
    --bg-general: #0c0832;
    --bg-secundary: #19153d;
    --titleSmall: #7844e4;
    --hoverAndText: aqua;
    --whiteGeneral: white;
}

body {
    font-family: "Poppins", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35%;
    color: var(--whiteGeneral);
}

.sectionTermns {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containTerms {
    width: 100%;
    padding: 20px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titleH1Termns {
    color: var(--whiteGeneral);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.3em;
    padding: 0 30px 40px;
}

ol li {
    color: #ababab;
    line-height: 1.6;
}

.strong {
    color: var(--whiteGeneral);
    font-weight: bold;
}



@media screen and (min-width: 768px) {

    main {
        padding-top: 20%;
    }

    ol li {
        text-align: justify;
    }

}

@media screen and (min-width: 1024px) {
    main {
        padding-top: 16%;
    }

}

@media screen and (min-width: 1440px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        padding-top: 10%;
    }

    .sectionBody {
        max-width: 1440px;
    }
}